* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cards {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    
    
    
}
.card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 200px;
    height: auto;
    padding: 16px;

    flex: 1 1 250px; /* flex-grow, flex-shrink, flex-basis */
      min-width: 250px;
      max-width: 300px;
    
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-4px);
}

.image {
    width: 100%;
    height: 150px;         /* altura fixa para manter uniformidade */
    object-fit: cover;     /* corta a imagem para preencher o espaço sem distorcer */
    border-radius: 8px;
}

.title {
    font-size: 1.5rem;
    margin: 12px 0 8px;
    text-align: center;
    
}

.description {
    font-size: 1rem;
    color: #666;
    text-align: center;
}